@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    background-color: black;

}

.main {
    background-image: url("Assets/Images/bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 644px;
    width: 100%;
    position: relative;

}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 144px;
    height: 40px;
    padding-top: 24px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    gap: 23px;
    padding: 0px 30px;

}

.hero> :nth-child(1) {
    font-size: 56px;
    margin-bottom: 0.5rem;
    max-width: 600px;
    text-align: center;
    margin-top: 111px;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 14px;
    text-align: center;

}

.separation {
    height: 8px;
    background-color: #232323;
    opacity: 1;
}

.btn-red {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    padding: 11px 24px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

}

.lang {
    padding: 3px 34px;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.main input {
    padding: 9px 118px;
    padding-left: 30px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: rgba(23, 23, 23, 0.8);
    border: 2px solid white;
    text-align: left;
}
 .faq .input1 {
    margin-top: 10px;
    display: flex;
    justify-content: center
}
.input1 input {
       top: 23px;
    padding: 23px 252px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: rgba(23, 23, 23, 0.8);
    border: 2px solid white;
    text-align: left;
    padding-left: 17px;
}
.input1{
    margin-bottom: 23px;
}
.btn-red-sm {
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 6px 19px;
    border-radius: 4px;
    border: none;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 19px;
    height: 30px;
    height: 48px;
}
.input1 {
    display: flex;
    flex-direction: row;
    gap: 19px;
    height: 30px;
    height: 48px;
}
.top-nav-left {
    display: flex;
    flex-direction: row;
    gap: 13px;
    padding-top: 20px;
}


.first {
    padding: 60px 13vw 31px 13vw;
    background-color: black;
}

.top h2 {
    color: white;
    font-size: 24px;
    margin: 40px 0 20px 0;
}

/* Horizontal scroll row */
.movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-bottom: 4px;

}

.movies::-webkit-scrollbar {
    display: none;
}

/* Movie cards */
.movies span {
    position: relative;
    min-width: 160px;
    height: 269px;
    width: 187px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}



.img1 {
    background-image: url("https://occ-0-2085-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYWfklg5D5btQoekHBjGHSFXDW_EezXrT97RnSaEwirkVnCt91QaQlcPWCxtfkSrW04hOcHguRrAMgyKTJzs2_PKkFkbs60DHC4.webp?r=05f");
}

.img2 {
    background-image: url("https://occ-0-2085-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTk_B0l_BvDJ7CQuWOAax9ZKSAe65vFGUMjAee8pcvuYXDFDvcnFaF8nOEuwxBg-TFKzHTqhdD3D7zlMsXSpA_BQTHf-ouBVNdwJIJvNQzUGje4WVrnptKL5Ywqu9hV7pg3A.webp?r=f34");
}

.img3 {
    background-image: url("https://occ-0-2085-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUWVF3ygMbBOZVkHcWyoVeNIuiag2c7kN7Vwlq6MqimdeYIdheTG7QlcRFQnAoqn_bTNsV4LSEYUdmtkIF-xf8gEgVBwC-ZKGUdcrhIvxdMCaOtEqdp51EVuSP8g8QXO7uLO.webp?r=4ab");
}

.img4 {
    background-image: url("https://occ-0-2085-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVbXUoTNkiWeGLsVtY9HIcuwl1a3-qGoR3UlqNqTqNaSBIYjd0DYeSO0mJcKaiMaH4AYtFRuqnHeuwcxSB3sofkfoh_zn_c9A80.webp?r=0e8");
}

.img5 {
    background-image: url("https://occ-0-2085-2186.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABc207nlnlHas2ih2KCtmvfXI7r25QFfoZ3iiLd3EEskxt_aOnRK6Le24iHHZSgtJ1xZWjCVjR3x6X6DK1sp7UFSY79GreZAZF6k.webp?r=73b");
}

/* More reasons section */
.middle h2 {
    color: white;
    font-size: 24px;
    margin: 40px 0 20px 0;
}

/* cards container */
.reasons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

/* individual cards */
.reasons div {


    flex: 1 1 250px;
    /* responsive base width */
    max-width: 300px;
    /* desktop pe ek size */
    min-height: 195px;
    height: auto;
    padding: 16px;
    border-radius: 18px;
    background: linear-gradient(180deg, #201f43, #221623);
    color: #cfcfcf;
}

/* card headings */
.reasons h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
}

.faqbox {

    background-color: rgb(45, 45, 45);
    color: white;
    max-width: 73vw;
    margin: auto;
    margin-top: 13px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.faq {
    background-color: rgb(0, 0, 0);
    color: white;
}

.faq h2 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 203px;
}

.faqbox:hover {
    background-color: rgb(67, 67, 67);
}

.para {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}