@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;

}

.main {
    background-image: url("Assets/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100px);
    background-repeat: no-repeat;
    height: 644px;
    width: 100vw;
    position: absolute;
    background-size: cover;

}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 144px;
    height: 40px;
    padding-top: 24px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    gap: 23px;
    padding: 0px 30px;

}

.hero> :nth-child(1) {
    font-size: 2.9rem;
    font-weight: 700px;
    margin-bottom: 0.5rem;
    max-width: 600px;
    text-align: center;
    margin-top: 111px;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.separation {
    height: 7px;
    background-color: rgb(114, 114, 114);
    opacity: 0.5;
}

.btn-red {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 11px 24px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

}

.lang {
    padding: 3px 34px;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.main input {
    padding: 9px 24px;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(23, 23, 23, 0.8);
    border: 2px solid white;
}

.btn-red-sm {
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 6px 19px;
    border-radius: 4px;
    border: none;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 19px;
}
.top-nav-left {
    display: flex;
    flex-direction: row;
    gap: 13px;
    padding-top: 20px;
}